<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjSem2Task1.Properties.Settings.firstTaskPrSemConnectionString"
            connectionString="Data Source=DESKTOP-2AJTSGQ\SMNDB;Initial Catalog=firstTaskPrSem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PrjSem2Task1.Properties.Settings.DBSem23_11ConnectionString"
            connectionString="Data Source=DESKTOP-J4P172J\SMNDB;Initial Catalog=DBSem23.11;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>